.cards{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1.25rem;
  row-gap: 1.5rem;
}

.card{
  background-color: var(--color-alura);
  border: 4px solid var(--color-floral-white);
  width: 20rem;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
}


.card-game {
  cursor: pointer;
}
