.cards{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1.25rem;
  row-gap: 1.5rem;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.card-game {
  cursor: pointer;
}

.front{
  background-color: var(--color-alura);
}

.back, .front{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 160px;
  border: 4px solid var(--color-floral-white);
}

.back{
  background-color: var(--color-fiery-rose);
  display: none;
}