body {
  background-color: var(--color-alura);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

#root{
  background-color: var(--color-pomb-and-power);
  border: 4px solid var(--color-floral-white);
  width: 20rem;
  padding: 1.25rem;
}
