body {
  background-color: var(--color-pomb-and-power);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

