.player-title{
    display: flex;
    justify-content: space-between;
    padding: 0 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--color-floral-white);
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}